@model ContactModel
@{
    ViewData["Title"] = "Confirm contact delete";
}

<div class="text-center">
  
    <h3>Are you sure you want to delete (@Model.Name)?</h3>    
    <a class="btn btn-outline-primary" role="button" asp-controller="Contacto" asp-action="Index">Cancel Delete</a>
    <a class="btn btn-outline-danger" role="button" asp-route-id="@Model.Id" asp-controller="Contacto" asp-action="Delete">Confirm Delete</a>
</div>

